
.logo-container {
        position: fixed; /* Logo moves with the scroll */
        top: 20px; /* Adjust as needed */
        left: 20px; /* Adjust as needed */
        z-index: 1000;
    }
    
 .logo {
        width: 100px; /* Set desired width for the logo */
        height: 100px;
        border-radius: 50%;
        border: 1px solid black;
    }
<<<<<<< HEAD
/* Footer-styling */
.footer {
    padding: 20px; /* Lägg till padding */
    background-color: #ffffff; /* Bakgrundsfärg på footern */
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* Footer-container för flexbox */
.footer-container {
    display: flex; /* Gör footern till en flexcontainer */
    justify-content: space-between; /* Sprid ut innehållet */
    align-items: center; /* Centrera innehållet vertikalt */
}

/* Styling för länkar och text */
.footer-links {
    margin: 0; /* Ta bort marginaler */
}

.footer-links a {
    margin: 0 10px; /* Avstånd mellan länkar */
    color: #000; /* Färg på länkar */
    text-decoration: none; /* Ta bort understrykning */
}

.footer-links a:hover {
    color: #007BFF; /* Ändra färg vid hovring */
}

footer p {
    padding: 0; /* Ta bort padding */
    color: #000000; /* Färg på texten */
}

/* Styling för social media */
.social-media {
    display: flex; /* Gör social media till en flexcontainer */
}

.social-media a {
    margin: 0 10px; /* Avstånd mellan ikoner */
    color: #000; /* Färg på ikoner */
    font-size: 24px; /* Storlek på ikoner */
}

.social-media a:hover {
    color: #007BFF; /* Ändra färg vid hovring */
}


    
=======

    body{
        font-family: sans-serif;
    }
>>>>>>> landing-page
