
.logo-container {
        position: fixed; /* Logo moves with the scroll */
        top: 20px; /* Adjust as needed */
        left: 20px; /* Adjust as needed */
        z-index: 1000;
    }
    
 .logo {
        width: 100px; /* Set desired width for the logo */
        height: 100px;
        border-radius: 50%;
        border: 1px solid black;
    }
